* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #7749F8 !important;
    color: white !important;
    font-family: 'inter', sans-serif !important;
    font-weight: bold !important;
    font-size: 1.2em !important;
    padding-left: 15px !important;
}

.navbar-nav {
    margin-left: auto !important;
    gap: 20px !important;
}

.navbar-brand {
    font-size: 1.4em !important;
    color: white !important;
    cursor: default !important;
}



.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #b499ff !important;
}

.fa {
    font-size: 1.2em !important;
    margin-right: 10px !important;
}

#home-link {
    color: white !important;
}

#home-link:hover {
    color: #b499ff !important;
}

.dropdown-menu {
    background-color: #7749F8 !important;
}

.dropdown-item {
    background-color: #7749F8 !important;
    color: white !important;
}

.dropdown-item:hover {
    background-color: #b499ff !important;
    color: white !important;
    transition: 0.1s ease-in-out !important;
}
