h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  h2 {
    text-align: center;
    margin: 20px 0;
  }
  
  label {
    width: 30%;
    text-align: center;
  }
  
  input {
    width: 70%;
  }
  
  .btn-primary {
    width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    background-color: #7749f8;
  }
  
  .btn-primary:hover {
    background-color: #4400ff;
  }